

@font-face {
  font-family: "homespun";
  src: url("homespun.ttf") format("truetype");
}


body{margin:0; padding:0; font-size:19px; font-family: "homespun"; subset: "latin"; color:#FFFFFF; background-color:#2D882D;}

p{margin:0; padding:0; font-size:19px; font-family: "homespun"; subset: "latin"; color:#FFFFFF; background-color:#2D882D;}

.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
.clear{display:block; width:100%; clear:both;}
html[xmlns] .clear{display:block;}
* html .clear{height:1%;}

a{outline:none; text-decoration:none;}

.fl_left{float:left;}
.fl_right{float:right;}

/*----------------------------------------------HTML 5 Overrides-------------------------------------*/

address, article, aside, figcaption, figure, footer, header, hgroup, nav, section{display:block; margin:0; padding:0;}

/*----------------------------------------------Wrapper-------------------------------------*/

div.wrapper{display:block; width:100%; text-align:left;}

.row1{color:#FFFFFF; background-color:#333333;}
.row2{color:#979797; background-color:#FFFFFF;}
.row3, .row3 a{color:#FFFFFF; background-color:#1E1E1E;}

/*----------------------------------------------Generalise-------------------------------------*/

#header, #container, #footer{display:block; width:100%; min-width:960px;}

 h2, h3, h4, h5, h6{margin:0; padding:0; color:#000000; font-size:24px; font-weight:normal; font-style:normal; line-height:normal;}
 h1{margin:0; padding:0; color:#FFFFFF; font-size:29px; font-weight:normal; font-style:normal; line-height:normal;}
/*----------------------------------------------Header-------------------------------------*/

#header{}

/*----------------------------------------------Content Container-------------------------------------*/

#container{}

/*----------------------------------------------Footer-------------------------------------*/

#footer{}


.box {
  width: 80%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/20px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 40px;
  color: #000000;

  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button:hover {
  background: #06D85F;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 60px auto;
  padding: 60px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  font-size: 29px;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 80%;
  }
  .popup{
    width: 80%;
  }
}
